.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6CAEF0;
    color: #fff;
    box-shadow: rgb(0 52 130 / 20%) 2px 2px 2px 2px;
}

.footer span {
  font-weight: bold;
  color: #61dafb;
}